<section class="section">
    <div class="container pokemon-container ">
        <div class="row">
            <div class="col-md-12 pokemon-flex">
                <div class="col-md-4 big-card">
                    <div class="cards pokemon-cards">
                        <div class="card-header">
                            <div class="card-name">
                                <h5 class="card-title poke-name"><%=name%></h5>
                                <% hp.forEach(element => { %>
                                    <% if(element.stat.name == 'hp') { %> 
                                        <h5 class="card-title poke-name"><%= element.base_stat %> HP</h5>
                                    <% } %> 
                                <% }) %>
                                <img class="pokeball" src="/images/Pokeball-1.png" alt="pokeball">
                            </div>
                            <img src="<%=image%>" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                STATS
                            </h5>
                            <% hp.forEach(element => { %>
                                <% if(element.stat.name == 'attack') { %> 
                                    <p class="card-text"><%= element.stat.name %>: <%= element.base_stat %> </p>
                                <%}%>
                            <% }) %>
                            <% hp.forEach(element => { %>
                                <% if(element.stat.name == 'defense') { %> 
                                    <p class="card-text"><%= element.stat.name %>: <%= element.base_stat %> </p>
                                <%}%>
                            <% }) %>
                            <% hp.forEach(element => { %>
                                <% if(element.stat.name == 'special-attack') { %> 
                                    <p class="card-text"><%= element.stat.name %>: <%= element.base_stat %> </p>
                                <%}%>
                            <% }) %>
                            <% hp.forEach(element => { %>
                                <% if(element.stat.name == 'special-defense') { %> 
                                    <p class="card-text"><%= element.stat.name %>: <%= element.base_stat %> </p>
                                <%}%>
                            <% }) %>
                            <% hp.forEach(element => { %>
                                <% if(element.stat.name == 'speed') { %> 
                                    <p class="card-text"><%= element.stat.name %>: <%= element.base_stat %> </p>
                                <%}%>
                            <% }) %> 
                            
                        </div>
                        <div class="card-footer d-flex">
                            <% type.forEach(element => { %>
                                    <p class="card-text"> <%= element.type.name %> / </p>
                            <% }) %>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>